<!--First Heading-->
<div class="container" style="height: 20%;">
    <div class="row" style="height: 50%;">  
        <div class="col-8">
            <div class="texto" style="height: 50%; width: 100%;"> 
                <h1>The First Heading <span class="text-secondary">Will Catch Your Eye</span></h1> 
                <p style="font-size: large">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate nesciunt dignissimos est veniam doloribus dolore amet, quaerat, quo consequatur minus harum numquam praesentium odit. Quod distinctio quis iusto quia molestiae?</p>
            </div>
        </div>
        <div class="col-4">
            <div class="Walter ms-2" style = "height: 340px; width: 330px">
                <img class="rounded-circle" src="https://theheizenbergeffect.files.wordpress.com/2012/09/walter_white_breaking_bad-stanley-chow.jpg" style = "height: 100%; width: 100%">
            </div>
        </div>
    </div>
</div>
