<!--Portfolio-->

<div class="container d-flex flex-column justify-content-center" style="height: 20%;">
    <div class="contenido d-flex flex-column justify-content-center">
			<h2>Portfolio</h2>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet et harum soluta. Temporibus delectus, ad est accusantium nobis possimus reiciendis repellat illo voluptatem quasi sequi.</p>
    </div>
    <div class="cards d-flex justify-content-between">
        <!--Card1-->
        <div class="card" style="width: 22rem;">
            <img src="../ejercicio-colaborativo-html/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, vero quia? Sint quaerat totam in voluptatum suscipit! Officia, error cum.</p>
            </div>
        </div>
        <!--Card2-->
        <div class="card" style="width: 22rem;">
            <img src="../ejercicio-colaborativo-html/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, vero quia? Sint quaerat totam in voluptatum suscipit! Officia, error cum.</p>
            </div>
        </div>
        <!--Card3-->
        <div class="card" style="width: 22rem;">
            <img src="../ejercicio-colaborativo-html/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, vero quia? Sint quaerat totam in voluptatum suscipit! Officia, error cum.</p>
            </div>
        </div>
    </div>
</div>  