<!--Services-->

<div class="container" style="height: 20%;">
    <div class="row" >
        <div class="col-4" >
            <div class="manos ms-2" style="height: 340px; width: 330px;">
                <img class="rounded-circle" src="https://images.pexels.com/photos/3987029/pexels-photo-3987029.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 100%; width: 100%;"/>
            </div>
        </div>
        <div class="col-8 heading">
            <div class="texto mt-4">
                <h1> The second heading <span class="text-secondary">is pretty cool too.</span></h1>
                <p style="font-size: large;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, possimus! Fugit commodi dolor assumenda ipsum recusandae provident quo accusantium eos iusto, unde autem praesentium libero! Odit id reprehenderit sit sed!</p>
            </div>
        </div>
    </div>
</div>